@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --secondary-bcg: #f0f1f1;
  --accent-text-color: #5e5322;
  --yellow-color: #fad648;
  --signIn-signOn-btn: #737373;
  --text-color: #3c3c3c;
}
